body
{
	overflow: hidden;
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); 
}
h1
{
	font-family:"Arial";
	text-align:center;
}
p
{
font-family:"Arial";
font-size:20px;
}
.center-pane
{
	overflow:auto;
	padding-top:20px;
	width:800px;
	height: 100%;
	margin: 0 auto;
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(233,233,206,1)));
	background-repeat: repeat-x;
}
.submit_button
{
	text-align: center;
}

.bsu_text
{
	font-size:30px;
	color:darkred;
	text-align:center;
}

.result
{
	font-size:14px;
	padding-bottom:5px;
	padding-right: 2%;
}

hr.result-rule {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}